# Rules-of-RacismHCF
Roster of 6/21/16:
Leader: Yogato/Dericous and PandaDesiigner

Moderators: Too many

Members: Barely

__________________________________________________________________________________
•Members:
	-No Stealing
		-You may take items if given permission from the owner of items
	-Do not leave the base at a DTR of less than 3 [May Change/Owner's words will effect this]
	-If a moderator or higher tells you to do something do it. [PvP only]
	-PM: Andrew | JustAJoke for suggestions to add in more rules for members.
	-You may take your items and logout, but please do not log out with valuables that other people have acquired for the fac.
•Moderators:
	-All rules above still apply to you.
	-You've been given mod because of trust, don't abuse it.
	-You will not be able to kick any type of member unless he/she is hacking, insiding, stealing, or you've been told to by owner.
		-You can not decide the roster. DO NOT invite people unless given permission by owner.
	-If you really have to take something from the officer chest and log off with it tell us in the skype chat that you did.
	-NO CYBER BULLYING THE MEMBERS THEY HAVE FEELINGS TOO.
•Owners:
	-Make a public statement that you've given your owner position to someone else.
	-All previous rules apply to you.
	-Remember to spam this link a lot "https://www.youtube.com/watch?v=eDxa2tmbhSg"
		-Everyone in the faction has to watch that video at least once in their lifetime.
	
	

plssendhelp.
